services:
  postgres-init:
    container_name: postgres-init
    image: ${PG_IMAGE}
    entrypoint: >
      /bin/sh -c "
        PGPASSWORD=${PG_PASS} psql -h ${PG_HOST} -p ${PG_PORT} -U ${PG_USER} -d postgres -c 'CREATE DATABASE n8n';
        PGPASSWORD=${PG_PASS} psql -h ${PG_HOST} -p ${PG_PORT} -U ${PG_USER} -d postgres -c 'CREATE DATABASE nocodb';
        PGPASSWORD=${PG_PASS} psql -h ${PG_HOST} -p ${PG_PORT} -U ${PG_USER} -d postgres -c 'CREATE DATABASE teable';
        PGPASSWORD=${PG_PASS} psql -h ${PG_HOST} -p ${PG_PORT} -U ${PG_USER} -d postgres -c 'CREATE DATABASE undb';
        exit 0;
      "
    depends_on:
      - postgres
    links:
      - postgres

  minio-init:
    container_name: minio-init
    image: minio/mc
    entrypoint: >
      /bin/sh -c "
        /usr/bin/mc alias set minio http://${MINIO_HOST}:${MINIO_PORT} ${MINIO_ACCESS_KEY} ${MINIO_SECRET_KEY} --insecure;
        /usr/bin/mc mb minio/nocodb-private;
        /usr/bin/mc mb minio/teable-private;
        /usr/bin/mc mb minio/teable-public;
        /usr/bin/mc anonymous set public minio/teable-public;
        /usr/bin/mc mb minio/undb-private;
        exit 0;
      "
    depends_on:
      - minio
    links:
      - minio
