volumes:
  postgres_data:
  redis_data:
  minio_data:
  n8n_data:

services:
  postgres:
    extends:
      file: .docker/docker-compose.postgres.yml
      service: postgres
    container_name: postgres
    volumes:
      - ${PG_VOL_DATA}:/var/lib/postgresql/data

  redis:
    extends:
      file: .docker/docker-compose.redis.yml
      service: redis
    container_name: redis
    volumes:
      - ${REDIS_VOL_DATA}:/data

  minio:
    extends:
      file: .docker/docker-compose.minio.yml
      service: minio
    container_name: minio
    volumes:
      - ${MINIO_VOL_DATA}:/data

  n8n:
    extends:
      file: .docker/docker-compose.n8n.yml
      service: n8n
    container_name: n8n
    volumes:
      - ${N8N_VOL_DATA}:/home/node/.n8n
    depends_on:
      - postgres
    links:
      - postgres

  nocodb:
    extends:
      file: .docker/docker-compose.nocodb.yml
      service: nocodb
    container_name: nocodb
    depends_on:
      - postgres
      - minio
    links:
      - postgres
      - minio

  teable:
    extends:
      file: .docker/docker-compose.teable.yml
      service: teable
    container_name: teable
    depends_on:
      - postgres
      - redis
      - minio
    links:
      - postgres
      - redis
      - minio

  undb:
    extends:
      file: .docker/docker-compose.undb.yml
      service: undb
    container_name: undb
    depends_on:
      - postgres
      - minio
    links:
      - postgres
      - minio
