services:
  teable:
    image: ${TEABLE_IMAGE}
    environment:
      PRISMA_DATABASE_URL: postgresql://${PG_USER}:${PG_PASS}@${PG_HOST}:${PG_PORT}/teable
      BACKEND_CACHE_PROVIDER: redis
      BACKEND_CACHE_REDIS_URI: redis://${REDIS_USER}:${REDIS_PASS}@${REDIS_HOST}:${REDIS_PORT}
      BACKEND_STORAGE_PROVIDER: minio
      BACKEND_STORAGE_PUBLIC_BUCKET: teable-public
      BACKEND_STORAGE_PRIVATE_BUCKET: teable-private
      BACKEND_STORAGE_MINIO_USE_SSL: false
      BACKEND_STORAGE_MINIO_ENDPOINT: ${MINIO_HOST}
      BACKEND_STORAGE_MINIO_PORT: ${MINIO_PORT}
      BACKEND_STORAGE_MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      BACKEND_STORAGE_MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
      STORAGE_PREFIX: http://${MINIO_HOST}:${MINIO_PORT}
      PUBLIC_HOST: ${TEABLE_DOMAIN}
      PROTOCOL: ${TEABLE_SCHEME}
      PUBLIC_ORIGIN: ${TEABLE_SCHEME}://${TEABLE_DOMAIN}
    ports:
      - ${TEABLE_PORT}:3000
    restart: unless-stopped
